
#countLabel{
    display: block;
    text-align: center;
    font-size: 10rem;
    font-family: sans-serif;
}

#btnContainer{
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: aliceblue;
    background-color: hsl(209, 61%, 52%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color:hsl(209, 91%, 9%);
}